fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

sqlalchemy

qdrant-client

openai

langchain
langchain-openai
langgraph
langsmith

pytest
pytest-asyncio
httpx

python-multipart
pypdf
sentence-transformers
streamlit
requests